<div class="row">
  <button type="button" name="button" ng-click="$ctrl.newPost()">New Post</button>
</div>

<div class="row">
  <h5>Filter Posts</h5>
  <input name="search" ng-model="searchText" type="search" placeholder="search by keyword">
</div>

<div class="row">
  <h5>Sort Posts</h5>
  <button type="button" name="button" ng-click="$ctrl.updateSort('-date')">Sort By Date</button>
  <button type="button" name="button" ng-click="$ctrl.updateSort('price')">Sort By Price</button>
</div>


<div ng-repeat="post in $ctrl.posts | filter : searchText | orderBy : $ctrl.sortCriteria">
  <div class="row">
    <h3>{{post.id}}: {{post.title}}</h3>
    <h4>Price: {{post.price}}</h4>
    <span am-time-ago="post.date"></span>
    <h4>Description:</h4>
    <p>{{post.description}}</p>
    <img ng-src="{{post.item_image}}" alt="item-image">
  </div>
  <button type="button" name="delete_post" ng-click="$ctrl.deletePost(post.id)">Delete Post</button>
  <button type="button" name="edit_post" ng-click="$ctrl.editPost(post)">Edit Post</button>
  <hr>
</div>
