body {
    padding-top: 70px;
    background-color: #FFFAE0;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.navbar {
  background-color: #362C28;
}

#navfont {
  font-family: 'Comfortaa', cursive;
  color: #EFF6EE;
  letter-spacing: 0.0625em;
  font-weight: 300;
}

#headerBlock {
  background-color: #FFFFFF;
  border-radius: 10px;
}
